---
import Navigation from '../components/nav.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <Navigation />
  
    <h1>我的 Astro 网站</h1>
    <h1>我的 Astro 学习博客</h1>
    <p>在这里，我将分享我的学习 Astro 之旅。</p>
    <ul>
      <li><a href="/post/post-1/">我的第一篇文章</a></li>
      <li><a href="/post/post-2">我的第二篇文章</a></li>
      <li><a href="/post/post-3">我的第三篇文章</a></li>
    </ul>
    <Footer />
  </body>
</html>
